
@font-face {
    font-family: 'Industry Test Book';
    src: url('font/Industry-Book.woff') format('woff'),
        url('font/Industry-Book.ttf') format('truetype'),
        url('font/Industry-Book.svg#Industry-Book') format('svg');
}

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #020303;
    color:#E7EBEF;    
}

p, li, span {
    font-family: 'Industry Test Book', sans-serif;
    font-weight: 150;
}

.container {
    display: flex;
    width: 60%;
    height: 80%;

    /*between the two boxes*/
    gap: 20px;
}

/* Left column is larger */
#left-column {
    flex: 2;
}

/* Right column is smaller */
#right-column {
    flex: 1;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
    background: transparent;
    border-radius: 3px;
}

.text-box {
    background: transparent;
    padding: 15px;
    border-radius: 5px;
    text-align: left;
    font-size: 16px;


    border: 3px;
    border-style: solid;
    border-color: darkslategrey; 
    border-radius: 4px; 
}

h1, h3 {
    font-family: 'Industry Test Book', sans-serif;
    font-weight: 150;
    color: #7D5C65;
}

h2 {
    margin-bottom: 20px;
    font-family: 'Industry Test Book', sans-serif;
    font-weight: 150;
    color: #7D5C65;

}

.video-border {
    border: 3px;
    border-style: solid;
    border-color: darkslategrey; 
    border-radius: 4px; 
    
    background: transparent; 

    margin-top: 20px;
    margin-bottom: 20px;
}

.separator {
    border: 2px;
    border-style: solid;
    border-color: darkslategrey; 
    height: 0px;
    margin-top: -3px;

    width: 99.9%;
    
}

video  {
    width: 100%;
    height: auto;
}

.project-title {
    font-weight: bold;
    margin-left: 20px;
    font-size: x-large;
}

.project-description {
    margin-left: 20px;
}


.project-text {
    text-align: center;
}

.socials-list {
    list-style: none;
    padding-left: 0;
}

.socials-list li {
    position: relative;
    padding-left: 20px;
}

.socials-list li::before {
    content: "✩";
    position: absolute;

    left: 0;
    color: #E7EBEF;
    font-size: 18px;
}



.socials-list li a {
    text-decoration: none; 
    color: #E7EBEF;

}

.socials-list li a:link{
    text-decoration: none; 
    color: #E7EBEF;

}

.socials-list li a:visited {
    text-decoration: none; 
    color: #E7EBEF;

}

.socials-list li a:hover {
    text-decoration: underline;
    color: #E7EBEF;
}






